@import "tailwindcss";

@layer base {
  body {
    background-color: #0F1117;
    color: #E2E8F0;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@layer utilities {
  /* High Density Theme Custom scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #0F1117;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #2D3343;
    border-radius: 2px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3B82F6;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
